.DS_Store
._*
*~
*.kpf
*.swp
*.swo
*.bak
*.suo
*.user
*.userprefs
*.pidb
*.StyleCop
*.p12
*.cer
*.svclog
*.exe
*.mdb
*.pch
packages/
xcuserdata/
project.xcworkspace
obj/
Log/
debug/
release/
bin/
test-results/
