<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <configSections>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
      <section name="apnsService" type="NotificationService.ApnsServiceConfiguration, NotificationService" />
	  </configSections>
	
    <!-- Replace path to certificate here and the password -->
    <apnsService Certificate="c:\temp\HowToNotifications.p12" CertificatePassword="password" />

	  <system.serviceModel>
	      <services>
          <service name="NotificationService.NotificationService" behaviorConfiguration="NotificationServiceBehaviors">
            <endpoint address="http://localhost:12346/Services" 
                      binding="webHttpBinding" 
                      behaviorConfiguration="webBehavior" 
                      contract="NotificationService.INotificationService"/>
          </service>
	      </services>
	      <behaviors>
          <endpointBehaviors>
          <behavior name="webBehavior">
            <webHttp/>
          </behavior>
        </endpointBehaviors>
		      <serviceBehaviors>
			      <behavior name="NotificationServiceBehaviors">
				      <serviceDebug includeExceptionDetailInFaults="False"/>
			      </behavior>
		      </serviceBehaviors>
	      </behaviors>
  	  </system.serviceModel>

    <log4net>
      <appender name="filesystem" type="log4net.Appender.RollingFileAppender">
        <param name="File" value="Log\\"/>
        <param name="Threshold" value="ALL"/>
        <param name="AppendToFile" value="true"/>
        <param name="MaxSizeRollBackups" value="-1"/>
        <param name="RollingStyle" value="Date"/>
        <param name="StaticLogFileName" value="false"/>
        <param name="CountDirection" value="-1"/>
        <param name="DatePattern" value="Log-yyyyMMdd'.txt'"/>
        <layout type="log4net.Layout.PatternLayout">
          <param name="ConversionPattern" value="$LOG--&gt; %date [%level] %property{log4net:HostName} (%thread) %username (%identity) %logger - %newline%message%newline"/>
        </layout>
      </appender>
      
      <appender name="console" type="log4net.Appender.ConsoleAppender, log4net">
        <layout type="log4net.Layout.PatternLayout,log4net">
          <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p %c{1}:%L - %m%n"/>
        </layout>
      </appender>
      <root>
        <appender-ref ref="console" />
        <appender-ref ref="filesystem" />
      </root>
    </log4net>
  	
  	<system.diagnostics>
		  <sources>
			  <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
				  <listeners>
					  <add name="sdt" type="System.Diagnostics.XmlWriterTraceListener" initializeData= "NotificationService.svclog" />
				  </listeners>
			  </source>
		  </sources>
	  </system.diagnostics>

    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>